header {
    height: 70px;
    width: 100%;
    border: 1px solid #CCCCCC;
}
.logo {
    width: 140px;
    height: 60px;
    background: url("../images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 20px;
}
